@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "~uikit/src/scss/uikit-theme.scss";

@import "~font-awesome/scss/font-awesome";

.abs {
  &-navbar {
    &-container:not(.uk-navbar-transparent) {
      background: linear-gradient(to right, #28a5f5, #1e87f0);
    }

    &-container-sub:not(.uk-navbar-transparent) {
      height: 3rem;
      background: linear-gradient(to left, #28a5f5, #1e87f0);
    }
  }
}
